<div class="alarm" (click)="openAlarm()">
  <app-icon name="alarm" color="blue"></app-icon>
  <ng-container *ngIf="alarm$ | async as timer; else choseAlert">
    <span class="alarm-text" [class.alert]="!timer?.timer">
      {{
        timer?.timer && !(alarmCalled$ | async)
          ? timer?.timer
          : (timer?.type === TIMER_ALARM.Fire ? "Пожар " : "Замыкание ") +
            "на " +
            timer?.flatNumber +
            " апартаменте"
      }}
    </span>
  </ng-container>
  <ng-template #choseAlert>
    <span class="alarm-text">Задать сценарии</span>
  </ng-template>
</div>
