<div class="page">
  <div class="content">
    <app-side-view>
      <app-floor
        *ngFor="let floor of floors; index as i"
        (click)="openSide(floors.length - i)"
      >
        <span class="block-title">{{ floors.length - i }} этаж</span>
        <app-block *ngFor="let block of blocks" [heightRatio]="0.7"></app-block>
      </app-floor>
    </app-side-view>

    <div class="info">
      <app-icon class="icon-meter" name="meter" color="blue"></app-icon>

      <div class="meter-info">
        <div class="meter-info__title">Электропотребление объекта</div>
        <div class="meter-info__value">1000 кВт/ч</div>
      </div>
    </div>
  </div>
</div>
