<div class="page">
  <app-icon
    class="icon-back"
    name="back"
    color="#000"
    (click)="back()"
  ></app-icon>

  <div class="content">
    <div class="col-wrapper">
      <span class="text">Вид сверху ({{ floorNumber }} этаж)</span>

      <div class="top-view">
        <ng-container
          *ngTemplateOutlet="
            row;
            context: {
              flatStart: (floorNumber - 1) * apartmentsInRow * rowsCount
            }
          "
        ></ng-container>
        <app-corridor></app-corridor>
        <ng-container
          *ngTemplateOutlet="
            row;
            context: {
              flatStart:
                (floorNumber - 1) * apartmentsInRow * rowsCount +
                apartmentsInRow
            }
          "
        ></ng-container>
      </div>
    </div>

    <div class="info">
      <app-icon class="icon-meter" name="meter" color="blue"></app-icon>

      <div class="meter-info">
        <div class="meter-info__title">Электропотребление ({{ floorNumber }} этажа)</div>
        <div class="meter-info__value">{{ getFloorRate() }} кВт/ч</div>
      </div>

      <!-- <div class="meter-info">
        <div class="meter-info__title">Электропотребление комнаты</div>
        <div class="meter-info__value">800 кВт/ч</div>
      </div> -->

      <!-- <div class="form">
        <span class="form-title"></span>
        <div class="input-group">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<ng-template #row let-flatStart="flatStart">
  <div class="blocks">
    <app-block
      *ngFor="let apartment of apartments; index as i"
      [enabledClick]="true"
      [flatNumber]="flatStart + i + 1"
    >
      <ng-container *ngIf="alarm$ | async as alarm; else showRate">
        <div *ngIf="alarm.flatNumber === flatStart + i + 1" (click)="reset()">
          <app-icon
            *ngIf="alarm.type === TIMER_ALARM.Electricity"
            class="icon"
            name="power"
            color="blue"
          ></app-icon>
          <app-icon
            *ngIf="alarm.type === TIMER_ALARM.Fire"
            class="icon"
            name="fire"
            color="red"
          ></app-icon>
        </div>
      </ng-container>
      <ng-template #showRate>
        <div class="rate">
          <app-icon class="icon-meter--sm" name="meter" color="blue"></app-icon>
          {{ getRate(flatStart + i + 1) }} кВт/ч
        </div>
      </ng-template>
    </app-block>
  </div>
</ng-template>
