.blocks {
  display: flex;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  padding: 0 5rem;
  width: 100%;
}

.top-view {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  border-width: 20px;
  border-color: #000;
  border-style: double;
  margin: 0.5rem 0 0;
}

.icon {
  animation-name: blick;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;

  & + & {
    margin-left: 0.5rem;
  }
}

.icon-back {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@keyframes blick {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0;
}
