.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 94vh;
}

.text {
  font-size: 1.5rem;
}

.content {
  display: flex;
}

.icon-meter {
  margin: 0 0 1rem;
  width: 64px;
  height: 64px;
}
