.block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  box-sizing: border-box;
  position: relative;
}

.flat-number {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1rem;
}

.inner-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enabled {
  cursor: pointer;

  &:hover {
    border: 3px solid red;
  }
}
